<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="screenshotsPath" value=""/>
    <add key="url" value="https://test-careconnect-us.coloplast.com/login"/>
	  <add key="loginUrl" value="https://test-professional.coloplast.com/"/>
    <add key="login" value="careconnecttestuser@yopmail.com"/>
    <add key="password" value="Haslo123"/>
  </appSettings>
</configuration>
