<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="screenshotsPath" value=""/>
		<add key="url" value="https://test-professional.coloplast.com/"/>
		<add key="loginurl" value="https://test-professional.coloplast.com/login/learning-login/"/>
		<add key="evenetpage" value="https://test-professional.coloplast.com/test-pages/event-132/"/>
		<add key="mediapage" value="https://test-professional.coloplast.com/test-pages/media-pageupdated2/"/>
		<add key="hcppage" value="https://test-professional.coloplast.com/test-pages/hcp-article-page44/"/>		
		<add key="coursepage" value="https://test-professional.coloplast.com/course-overview/course-updatedforautomation/"/>
		<add key="themepage" value="https://test-professional.coloplast.com/test-pages/theme-page/"/>
		<add key="productpage" value="https://test-professional.coloplast.com/test-pages/product-deep-dive-page-variety32/"/>
		<add key="email" value="unfv2ru4s4bg@dpptd.com"/>
		<add key="password" value="Qwerty123"/>
	</appSettings>
</configuration>
