<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="screenshotsPath" value=""/>
    <add key="url" value="https://sandbox02-multisite-au.coloplast.com/"/>
    <add key="login" value="multisite-sandbox-au1@yopmail.com"/>
    <add key="password" value="Qwerty123"/>
  </appSettings>
</configuration>
