<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="screenshotsPath" value=""/>
		<add key="url" value="https://test-multisite-au.coloplast.com/"/>
		<add key="minishop" value="https://test-multisite-au.coloplast.com/webshop/minishop/"/>
		<add key="brawa3210" value="https://test-multisite-au.coloplast.com/coloplast/ostomy-care/brava/brava-protective-sheet/#variant=32105"/>
		<add key="speedicath" value="https://test-multisite-fi.coloplast.com/coloplast/virtsarakko-ja-suoli/speedicath/speedicath-flex/speedicath-flex-set-d911cae4/#variant=289120"/>
		<add key="login" value="janey55667@padvn.com"/>
		<add key="password" value="Haslo123"/>
		<add key="uk-phone" value="07546 331779"/>
		<add key="aus-phone" value="412345182"/>
		<add key="zaurl" value="https://test-multisite-za.coloplast.com/"/>
		<add key="zalogin" value="zauser@yopmail.com"/>
		<add key="zapassword" value="Welcome@01"/>
		<add key="OStitle" value="Order Summary"/>
		<add key="fname" value="Updatefrom"/>
		<add key="lname" value="summarypage"/>
		<add key="NDIS" value="123456780"/>
		<add key="NDISPageHeading" value="Payment method"/>
		<add key="title" value=" Funding options"/>
		<add key="participantHeading" value="NDIS participant"/>
		<add key="day" value="15"/>
		<add key="month" value="05"/>
		<add key="year" value="1985"/>
		<add key="ndiatext" value="NDIS NDIA-managed"/>
		<add key="deUrl" value="https://test-homecare-de.coloplast.com/lp/brochures-und-magazine/brava-brochure/"/>
		<add key="delogin" value="deaccount@yopmail.com"/>
		<add key="sepaAccountName" value="Automation run"/>
		<add key="depassword" value="Welcome@01"/>
		<add key="dephone" value="6912340000"/>
		<add key="deaddress" value="Lieferadresse automation"/>
		<add key="depostal" value="12312"/>
		<add key="decity" value="Lieferadresse"/>
		<add key="IBEN" value="DE89370400440532013000"/>
		<add key="SpainURL" value="https://test-multisite-es.coloplast.com/"/>
		<add key="SpainBrawa" value="https://test-multisite-es.coloplast.com/coloplast/ostomia/brava/brava-lubricante-desodorante/#variant=12060"/>
		<add key="SpainLogin" value="spainaccount@yopmail.com"/>
		<add key="SpainPassword" value="QweAsd!23"/>
		<add key="SpainPostalCode" value="35000"/>
		<add key="SpainCity" value="Valleseco"/>
		<add key="SpainProvince" value="Las Palmas"/>

		<add key="SpainPostalTaxCode" value="04001"/>
		<add key="SpainTaxCity" value="Almería"/>
		<add key="SpainTaxProvince" value="Almería"/>

	</appSettings>
</configuration>