<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="screenshotsPath" value=""/>
	<add key="url" value="https://test-lilial.coloplast.com/"/>
	<add key="login" value="lilialuser1@yopmail.com"/>
	<add key="password" value="Welcome@01"/>
  </appSettings>
</configuration>
